.modals-card-bg{
    background: #FFFFFF;
    border-radius: 6px;
}
.modals-header-text{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;

}
.modal-header-desc{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: rgba(38, 50, 56, 0.8);

}

.modal-cancel-btn{
    background: #AAAAAA;
    border-radius: 6.6px;
    color: #FFFFFF;
    padding: 10px;
}
.modal-confirm-btn{
    border: 1px solid #1F3BDB;
    box-sizing: border-box;
    border-radius: 6.6px;
    color: #1F3BDB;
    padding: 10px;
}

.modalProperties .modal-content{
    padding: 25px;
    width: 66%;
    margin-left: 85px;
}

.lable-value{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: rgba(38, 50, 56, 0.4);

}

.lable-names{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: rgba(38, 50, 56, 0.4);

}

.activeItemBg{
    background-color: #1F3BDB;
    cursor: pointer;
    color: #FFFFFF;
}

.inactiveItemBg{
    background-color: #FFFFFF;
    cursor: pointer;
}