.main-page-bg{
  background-color: #E5E5E5;
}
.custom-container{
  margin: 30%;
}
.custom-buttons{
  background: #1F3BDB;
  border-radius: 6.6px;
  width: 100%;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}
.need-help-text{
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.7);
}
.custom-rounded{
  border-radius: 1.85rem!important;
}