.cursor-pointer
{
    cursor: pointer;
}

.formborder-color .form-control {
    border-color: #e4e6fc !important;
    box-shadow: none;
    padding: 6px;
}

.formborder-color:focus{
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    border-color: #000000;
}

.room-desc{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}

.switch-btn-lable{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
}

.icon-color{
  color:  rgb(72 71 71);
}